<li>
    <span class="content"><%= hotel.title %>
    <p><span class="title">Room description:</span><%= hotel.room_description %>
    <p><span class="title">Include breakfast:</span><%= hotel.include_breakfast %>
    <p><span class="title">Price:</span> <%= hotel.price %>
    <p><span class="title">Adress:</span> <%= hotel.adress %></span>
    <p><span class="title">Stars:</span> <%= hotel.star_rate_hotel %></span>
    <p><%= image_tag hotel.photo.url%>
    <p><span class="timestamp">
      Posted <%= time_ago_in_words(hotel.created_at) %> ago. Stars : <%= rating_for hotel, "stars", :star => 5 %>
    </span>
    <% if current_user?(hotel.user) %>
    <%= render partial: 'shared/delete_link', locals: {object: hotel} %>
      <% end %>
</li>
